.DS_Store
.gitkeep

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
.venv*
env/
venv/
ENV/
env.bak/
venv.bak/

# Data
**/data/**

# Saved models
**/models/**

# Result files
**/output/**

# apptainer images
*.sif
