.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
.venv*
env/
venv/
ENV/
env.bak/
venv.bak/

# apptainer images
*.sif

# keep .gitkeep files
!/**/.gitkeep
