.DS_Store
menti_qr.png
tutorial_qr.png

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
.venv*
env/
venv/
ENV/
env.bak/
venv.bak/

# pyenv
.python-version

# apptainer images
*.sif

# PyTorch state dict files
*.pth

# keep .gitkeep files
!/**/.gitkeep
