gradio==4.1.1
matplotlib~=3.7
numpy~=1.24
pandas~=2.0
scikit-image~=0.21
scikit-learn~=1.3
tqdm~=4.66
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.0+cpu
torchvision==0.16.0+cpu
torchaudio==2.1.0+cpu